<br>
<div class="forms">
  <form action="/buscar-asistencia" method="get">
    <h2>Asistencias de viaje</h2>

    <div class="form-row">
      <div class="form-group icon-group">
        <label for="destino">DESTINO</label>
        <div class="input-icon select-icon">
          <input type="text" id="destino" name="destino" value="Europa" readonly>
          <span class="icono">▼</span>
        </div>
      </div>
      <div class="form-group icon-group">
        <label for="partida">FECHAS</label>
        <div class="fechas-container">
          <div class="input-icon">
            <span class="icono">📅</span>
            <input type="text" id="partida" name="partida" placeholder="Partida">
          </div>
          <div class="input-icon">
            <span class="icono">📅</span>
            <input type="text" id="regreso" name="regreso" placeholder="Regreso">
          </div>
        </div>
      </div>
      <div class="form-group icon-group">
        <label for="pasajeros">PASAJEROS</label>
        <div class="input-icon">
          <span class="icono">👤</span>
          <input type="number" id="pasajeros" name="pasajeros" value="1" min="1">
        </div>
      </div>
      <div class="form-group">
        <button type="submit" class="boton-buscar"><span class="icono">🔍</span> Buscar</button>
      </div>
    </div>
  </form>
</div>
<br><br>
<div class="contenedor">
  <img src="images/Banner1.png" alt="Imagen 1">
  <img src="images/Banner2.png" alt="Imagen 2">
  <img src="images/Banner3.png" alt="Imagen 3">
  <img src="images/Banner4.png" alt="Imagen 4">
</div>
<br><br>
<section class="intro">
  <h2>Asistencia al viajero las 24 horas, en cualquier parte del mundo</h2>
  <p>Contamos con planes personalizados para todo tipo de viaje: vacaciones, estudios, trabajo o turismo aventura. Incluye atención médica, hospitalización, medicamentos, repatriación, pérdida de equipaje, cancelaciones y mucho más.</p>
</section>

<section class="grid-listings">
  <article class="card">
    <h3>Plan Básico Sudamérica</h3>
    <br>
    <img class="imagenrelleno" src="images/asistencia1.png">
    <br>
    <p>Hasta USD 20.000. Cubre emergencias médicas, COVID-19, asistencia legal, traslados sanitarios. Ideal para viajes cortos.</p>
    <a href="/pedidos" class="pedir">Pedir</a>
  </article>
  <article class="card">
    <h3>Plan Europa Schengen</h3>
    <br>
    <img class="imagenrelleno" src="images/asistencia2.png">
    <br>
    <p>Requisito para ingresar a países europeos. Cubre hasta USD 50.000. Incluye certificado para visa.</p>
    <a href="/pedidos" class="pedir">Pedir</a>
  </article>
  <article class="card">
    <h3>Plan Anual Multiviajes</h3>
    <br>
    <img class="imagenrelleno" src="images/asistencia3.png">
    <br>
    <p>Para viajeros frecuentes. Validez por 12 meses. Válido para múltiples salidas de hasta 30 días. Desde $195.000 anuales.</p>
    <a href="/pedidos" class="pedir">Pedir</a>
  </article>
</section>
