  <footer class="footer">
  <div class="footer-top">
    <div class="social">
      <a href="#"><img src="images/facebook.png" alt="Facebook"></a>
      <a href="#"><img src="images/instagram.png" alt="Instagram"></a>
      <a href="#"><img src="images/twitter.png" alt="Twitter"></a>
      <a href="#"><img src="images/youtube.png" alt="YouTube"></a>
    </div>
    <div class="contactos">
      <p><strong>Para ventas</strong> 0810 810 9994</p>
      <p><strong>Postventa</strong> <a href="#">Centro de contacto</a></p>
    </div>
  </div>

  <div class="footer-middle">
    <div class="footer-column">
      <h4>Mi Cuenta</h4>
      <ul>
        <li><a href="#">Conocé Pasaporte</a></li>
        <li><a href="#">Tarjeta ICBC</a></li>
        <li><a href="#">Mis Viajes</a></li>
        <li><a href="#">Mi Perfil</a></li>
        <li><a href="#">Eliminar mi cuenta</a></li>
      </ul>
    </div>
    <div class="footer-column">
      <h4>Somos EasyTravel</h4>
      <ul>
        <li><a href="#">FAQs</a></li>
        <li><a href="#">Trabajá con nosotros</a></li>
        <li><a href="#">Inversores</a></li>
        <li><a href="#">Marconi 743, Avellaneda</a></li>
      </ul>
    </div>
    <div class="footer-column">
      <h4>Confianza en tus compras</h4>
      <ul>
        <li><a href="#">Términos y condiciones</a></li>
        <li><a href="#">Política de privacidad</a></li>
        <li><a href="#">Promos vigentes</a></li>
        <li><a href="#">Prevención de fraudes</a></li>
      </ul>
    </div>
    <div class="footer-column">
      <h4>Potenciá tu negocio</h4>
      <ul>
        <li><a href="#">Sumá tu flota</a></li>
        <li><a href="#">Anunciá tu propiedad</a></li>
        <li><a href="#">Premium Partner</a></li>
      </ul>
    </div>
  </div>

  <div class="footer-bottom">
    <p>
      EasyTravel está presente es exclusivo de Argentina<br>
    </p>
    <p class="legal">
      &copy; Copyright 2025 NexProm. Todos los derechos reservados
    </p>
  </div>
</footer>