ul li{
    width: 100%;
  display: flex;
  justify-content: space-around;
  background-color: #f5f5f5c8;
  padding: 1rem;
  list-style: none;
}

h1 {
  display: flex;
  justify-content: center;
  color: rgb(0, 28, 128);
  font-size: 2rem;
}
