  <h2>PAQUETES MAS BUSCADOS</h2>
    <div class="container">
        <div class="paquete" *ngFor="let text of buscados">
            <img [src]="text.img" [alt]="text.des">
            <strong>{{ text.des }}</strong>
        </div>
    </div>
 
 
 <h1>Ofertas en Paquetes Turisticos ideales para ti</h1>


    <section class="carroza">
        <button class="flecha izquierda" (click)="sliderscroll(-1)">←</button>
        <div class="slider">
            <div class="carrusel">
                <div class="imagenes" *ngFor="let pack of paquetes">
                    <img [src]="pack.img" [alt]="pack.titulo">
                    <strong>{{ pack.titulo }}</strong>
                    <p *ngFor="let desc of pack.descripcion">{{ desc }}</p>
                    <p>Precio final por persona</p>
                    <strong>{{ pack.precio }}</strong>
                    <div class="estrellas">
                        <span *ngFor="let rate of [1, 2, 3, 4, 5]"
                            (click)="calificacionpaquete(pack, rate)"> 
                            {{ rate <= pack.calificacion ? '★' : '☆' }}
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <button class="flecha derecha" (click)="sliderscroll(+1)">→</button>
    </section>

    <section>
         <h1>SPONSORS</h1>
            <div class="container1">
                <img src="/images/anuncio-1.jpg" alt="coca cola">
                <img src="/images/anuncio-2.jpg" alt="coca cola">
                <img src="/images/anuncio-3.jpg" alt="futbol">
            </div>
             <h1>SPONSORS+</h1>
            <div class="container2">        
                <img src="/images/anuncio-4.jpg" alt="futbol">
                <img src="/images/anuncio-5.jpg" alt="futbol">
                <img src="/images/anuncio-6.jpg" alt="futbol">
            </div>
    </section>




