<br>
<div class="forms">
  <form action="/buscar-autos" method="get">
    <h2>Alquiler de autos</h2>

    <div class="form-row">
      <div class="form-group icon-group">
        <label for="retiro">LUGAR DE RETIRO</label>
        <div class="input-icon">
          <span class="icono">📍</span>
          <input type="text" id="retiro" name="retiro" placeholder="Buenos Aires, Ciudad de Buenos Aires, Argentina" required>
        </div>
      </div>
      <div class="form-group icon-group">
        <label for="fecha-retiro">FECHA</label>
        <div class="fechas-hora-container">
          <div class="input-icon">
            <span class="icono">📅</span>
            <input type="text" id="fecha-retiro" name="fecha-retiro" placeholder="Retiro" required>
          </div>
          <div class="hora">
            <label for="hora-retiro">HORA</label>
            <input type="time" id="hora-retiro" name="hora-retiro" value="11:00">
          </div>
        </div>
      </div>
      <div class="form-group icon-group">
        <label for="fecha-devolucion">FECHA</label>
        <div class="fechas-hora-container">
          <div class="input-icon">
            <span class="icono">📅</span>
            <input type="text" id="fecha-devolucion" name="fecha-devolucion" placeholder="Devolución" required>
          </div>
          <div class="hora">
            <label for="hora-devolucion">HORA</label>
            <input type="time" id="hora-devolucion" name="hora-devolucion" value="11:00">
          </div>
        </div>
      </div>
      <div class="form-group">
        <button type="submit" class="boton-buscar"><span class="icono">🔍</span> Buscar</button>
      </div>
    </div>

    <div class="form-row">
      <label>
        <input type="checkbox" id="otro-destino"> Devolver en otro destino
      </label>
      <label>
        <input type="checkbox" id="sin-fecha"> Todavía no he decidido la fecha
      </label>
    </div>
  </form>
</div>
<br><br>
<div class="contenedor">
  <img src="images/Banner1.png" alt="Imagen 1">
  <img src="images/Banner2.png" alt="Imagen 2">
  <img src="images/Banner3.png" alt="Imagen 3">
  <img src="images/Banner4.png" alt="Imagen 4">
</div>
<br><br>
<section class="intro">
  <h2>Alquiler de autos en todo el país</h2>
  <p>Desde vehículos económicos hasta SUVs 4x4. Tarifas diarias, semanales o mensuales. Seguro contra todo riesgo, asistencia 24hs, kilómetros libres. Retiro en aeropuerto, sucursales o con entrega a domicilio.</p>
</section>

<section class="grid-listings">
  <article class="card">
    <h3>Chevrolet Onix o similar</h3>
    <br>
    <img class="imagenrelleno" src="images/chevroletonix.webp">
    <br>
    <p>Manual, aire acondicionado, USB, ideal para ciudad. Incluye seguro. Desde $38.000/día o $220.000/semana.</p>
    <a routerLink="/pedidos" class="pedir">Pedir</a>
  </article>
  <article class="card">
    <h3>Jeep Renegade</h3>
    <br>
    <img class="imagenrelleno" src="images/jeeprenegade.png">
    <br>
    <p>Automático, 4x4, ideal para rutas o montaña. Incluye GPS, silla de bebé opcional. Desde $52.000 por día.</p>
    <a routerLink="/pedidos" class="pedir">Pedir</a>
  </article>
  <article class="card">
    <h3>Toyota Corolla Full</h3>
    <br>
    <img class="imagenrelleno" src="images/toyotacorolla.png">
    <br>
    <p>Gama alta. Automático, gran autonomía, cómodo y seguro para viajes largos. Desde $58.000/día.</p>
    <a routerLink="/pedidos" class="pedir">Pedir</a>
  </article>
</section>
