<div class="violeta">
  <div class="barra">
    <img class="logo" src="images/logo.png">
    <ul class="menu">
      <li><a routerLink="#">Home</a></li>
      <li><a routerLink="/package">Paquetes</a></li>
      <li><a routerLink="/carrito">Carrito</a></li>
      <li><a routerLink="/about">Acerca de</a></li>
      <li *ngIf="!usuario">
        <a routerLink="/inicio-sesion">Ingresar</a>
      </li>
      <li *ngIf="usuario?.rol === 'jefe'">
        <a routerLink="/jefes">Jefes</a>
      </li>
      <li *ngIf="usuario" class="perfil">
        <a routerLink="/perfil">
          <img src="images/perfil.png" class="perfil-img">

        </a>
      </li>




    </ul>
  </div>
  <div class="menu-servicios">
    <ul class="servicios">
      <li><a routerLink="/alojamientos">Alojamientos</a></li>
      <li><a routerLink="/vuelos">Vuelos</a></li>
      <li><a routerLink="/alquileres">Alquileres</a></li>
      <li><a routerLink="/autos">Autos</a></li>
      <li><a routerLink="/asistencia">Asistencia</a></li>
      <li><a routerLink="/micros">Micros</a></li>
    </ul>
  </div>
</div>

