<div class="violeta">
  <div class="barra">
    <img class="logo" src="images/logo.png">
    <ul class="menu">
      <li><a href="#">Home</a></li>
      <li><a href="/package">Paquetes</a></li>
      <li><a href="/pedidos">Pedidos pendientes</a></li>
      <li><a href="/carrito">Carrito</a></li>
      <li><a href="/about">Acerca de</a></li>
      <li *ngIf="!usuario">
        <a routerLink="/inicio-sesion">Login</a>
      </li>
      <li *ngIf="usuario" class="perfil" (click)="toggleMenu()">
        <img src="images/perfil.png" alt="Perfil" width="24" height="24">
        <span>{{ usuario.nombre }}</span>
        <ul *ngIf="mostrarMenu" class="dropdown">
          <li (click)="cerrarSesion()">Cerrar sesión</li>
        </ul>
      </li>


    </ul>
  </div>
  <div class="menu-servicios">
    <ul class="servicios">
      <li><a href="/alojamientos">Alojamientos</a></li>
      <li><a href="/vuelos">Vuelos</a></li>
      <li><a href="/alquileres">Alquileres</a></li>
      <li><a href="/autos">Autos</a></li>
      <li><a href="/asistencia">Asistencia</a></li>
      <li><a href="/micros">Micros</a></li>
    </ul>
  </div>
</div>

