<div class="violeta">
  <div class="barra">
    <h1>EasyTravel</h1>
    <ul class="menu">
      <li><a href="#">Home</a></li>
      <li><a href="/package">Paquetes</a></li>
      <li><a href="/pedidos">Pedidos pendientes</a></li>
      <li><a href="/carrito">Carrito</a></li>
      <li><a href="/about">Acerca de</a></li>
      <li><a href="/inicio-sesion">Login</a></li>
      
      
    </ul>
  </div>
  <div class="menu-servicios">
    <ul class="servicios">
      <li><a href="/alojamientos">Alojamientos</a></li>
      <li><a href="/vuelos">Vuelos</a></li>
      <li><a href="/alquileres">Alquileres</a></li>
      <li><a href="/autos">Autos</a></li>
      <li><a href="/asistencia">Asistencia</a></li>
      <li><a href="/micros">Micros</a></li>
    </ul>
  </div>
</div>

