<div class="carrito">



  <div class="tabla-header">
    <span>Descripcion del producto</span>
    <span>Precio</span>
    <span>Cantidad</span>
    <span>Subtotal</span>
    <span>Acciones</span>
  </div>

  <div *ngFor="let cart of CartService.cart" class="tabla-item">
    <span>{{ cart.nombre}}</span>
    <span>${{ cart.price }}</span>
    <span>x{{ cart.cant }}</span>
    <span>${{ cart.price * cart.cant }}</span>
    <button class="butt" (click)="CartService.deleteCart(cart)">Borrar</button>
  </div>

  <div class="total">
    Total: ${{ CartService.total }}
  </div>


  <button class="butt" (click)="abrirCompra()">Pagar</button>
</div>
